# Titanic in PyCaret (Classification)

In [ ]:
import pandas as pd
from pycaret.classification import *

## Data to be used

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Data setup

In [3]:
ignores = ['PassengerId', 'Name', 'Ticket', 'Cabin']

In [4]:
exp = setup(data=train, target='Survived', ignore_features=ignores)

## Compare models

In [5]:
best_model = compare_models(sort='Accuracy')

## Tune model

In [6]:
best_tuned = tune_model(best_model, optimize='Accuracy')

## Ensemble Learning

### Bagging

In [7]:
best_bagging = ensemble_model(best_model, method='Bagging')

### Boosting

In [8]:
rf = create_model('rf')
boosted = ensemble_model(rf, method='Boosting')

### Blending

In [9]:
blend = blend_models(estimator_list=compare_models(n_select=3))

## Evaluate model

In [10]:
evaluate_model(best_tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦